*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.heading{
    /* align-items: center; */
    width: 95%;
    padding: 20px 40px;
    text-align: center;
    background: -webkit-linear-gradient(190deg,#015dd6,#03c4f4,#1ed1e9,#0388f4);
    /* background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* -webkit-box-shadow: 1px 13px 28px 3px rgba(0,0,0,0.78); 
box-shadow: 1px 13px 28px 3px rgba(0,0,0,0.78); */
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
margin-top: -5px;
margin-bottom: 20px;

}
.boss{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    padding: 10px 40px;
color: white;
background: linear-gradient(225deg,#1ee9b6de,#0388f4d3);
margin-bottom: 0;
outline: none;
border-radius: 5px;
border: none;
cursor: pointer;
margin-top: 10px;
}
canvas{
    display: none;
}
#webcam{
    width:60%;
    
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.82); 
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.82);
    background: black;
    
}
.cap{
    /* width: 50%; */
    /* border: 1px solid black; */
    /* background:linear-gradient(120deg,#06b9e6b0,#03c4f4,#04bea5,#0388f4) ; */
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    
}